.black-bg{
	background-color: #000;
}
.navbar-brand img{
	height: 1.5rem;
}
.grey-bg{
	background-color: #1b1b1b;
}
.sidebar-dark .nav-sidebar>.nav-item-open>.nav-link:not(.disabled), 
.sidebar-dark .nav-sidebar>.nav-item>.nav-link.active, 
.sidebar-light .card[class*=bg-]:not(.bg-light):not(.bg-white):not(.bg-transparent) .nav-sidebar>.nav-item-open>.nav-link:not(.disabled), 
.sidebar-light .card[class*=bg-]:not(.bg-light):not(.bg-white):not(.bg-transparent) .nav-sidebar>.nav-item>.nav-link.active{
	background-color: #373737!important;
}
.social-link{
	color: #fff!important;
}
.social-link:hover{
	color: rgba(255, 255, 255, 0.75)!important;
}
.btn{
	background-color: #1b1b1b;
}
.btn:hover{
	background-color: #373737;
}
.btn-light{
	background-color: #fafafa;
}
.btn-light:hover{
	background-color: #f5f5f5;
}
.uniform-checker span, .uniform-choice span{
	border: .125rem solid #1b1b1b;
}
.uniform-checker span{
	color: #1b1b1b;
}
.select2-selection--multiple .select2-selection__choice{
	background-color: #1b1b1b;
}
.select2-selection--multiple .select2-selection__choice:focus, .select2-selection--multiple .select2-selection__choice:hover{
	background-color: #373737;
}
.irs-bar{
	background-color: #373737;
}
.star-rate-on{
	color: #eab71e;
}
.star-rate-off{
	color: #868686;
}
.select2-results__option[aria-selected=true]{
	background-color: #1b1b1b;
}
.btn.bg-indigo:hover {
    background-color: #3f51b5;
}
.btn.bg-pink-300:hover{
	background-color: #f06292;
}
.btn.bg-slate-600:hover{
	background-color: #546e7a;
}
.pagination-flat .page-item.active .page-link {
    background-color: #1b1b1b;
}
.pagination-flat .page-link:focus, .pagination-flat .page-link:hover {
    background-color: #373737;
    color: #fff;
}
.page-item.active .page-link{
	border-color: #1b1b1b;
}
#imgSlider{
	-webkit-transform: translateY(-58px);
	-moz-transform: translateY(-58px);
	-o-transform: translateY(-58px);
	transform: translateY(-58px);
}
#imgSlider img{
	height: 100vh;
    width: 100%;
    object-fit: cover;
}
.spcl-btn{
	background: transparent;
	border: 2px solid #fff;
}
.spcl-btn:hover{
	border: 2px solid transparent;
}
.slct-media{
	top: -5px;
	right: -5px;
}
.slct-media i{
	font-size: 25px;
    color: #000000;
    background: #ffffff;
}
.left-border{
	border-left: 1px solid #ddd;
}
.media-lib-img .card-img-actions{
	height: 7rem;
    text-align: center;
    background: #eee;
}
.media-lib-img .card-img-top{
	width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
/*------- Media Query --------*/
@media(max-width: 991px){
	.left-border{
	border-left:none;
}
.top-border{
	border-top: 1px solid #ddd;
	}
}
@media (min-width: 768px){
.sidebar-xs .sidebar-main.sidebar-dark .nav-sidebar>.nav-item-submenu>.nav-group-sub {
    background-color: #1b1b1b;
    border-left: 1px solid rgba(255,255,255,.1);
}
}
@media (min-width: 768px){
.sidebar-xs .sidebar-main .nav-sidebar>.nav-item-submenu>.nav-group-sub[data-submenu-title]:before {
    padding-bottom: .75rem;
    border-bottom: 1px solid #676767;
}
}
@media(max-width: 767px){
	.sm-mob-mb{
		margin-bottom: 10px;
	}
}