.black-bg{
	background-color: #000;
}
.navbar-brand img{
	height: 1.5rem;
}
.grey-bg{
	background-color: #1b1b1b;
}
.sidebar-dark .nav-sidebar>.nav-item-open>.nav-link:not(.disabled), 
.sidebar-dark .nav-sidebar>.nav-item>.nav-link.active, 
.sidebar-light .card[class*=bg-]:not(.bg-light):not(.bg-white):not(.bg-transparent) .nav-sidebar>.nav-item-open>.nav-link:not(.disabled), 
.sidebar-light .card[class*=bg-]:not(.bg-light):not(.bg-white):not(.bg-transparent) .nav-sidebar>.nav-item>.nav-link.active{
	background-color: #373737!important;
}
.social-link{
	color: #fff!important;
}
.social-link:hover{
	color: rgba(255, 255, 255, 0.75)!important;
}
.btn{
	background-color: #1b1b1b;
}
.btn:hover{
	background-color: #373737;
}
.btn-light{
	background-color: #fafafa;
}
.btn-light:hover{
	background-color: #f5f5f5;
}
.uniform-checker span, .uniform-choice span{
	border: .125rem solid #1b1b1b;
}
.uniform-checker span{
	color: #1b1b1b;
}
.select2-selection--multiple .select2-selection__choice{
	background-color: #1b1b1b;
}
.select2-selection--multiple .select2-selection__choice:focus, .select2-selection--multiple .select2-selection__choice:hover{
	background-color: #373737;
}
.irs-bar{
	background-color: #373737;
}
.star-rate-on{
	color: #eab71e;
}
.star-rate-off{
	color: #868686;
}
.select2-results__option[aria-selected=true]{
	background-color: #1b1b1b;
}
.btn.bg-indigo:hover {
    background-color: #3f51b5;
}
.btn.bg-pink-300:hover{
	background-color: #f06292;
}
.btn.bg-slate-600:hover{
	background-color: #546e7a;
}
.pagination-flat .page-item.active .page-link {
    background-color: #1b1b1b;
}
.pagination-flat .page-link:focus, .pagination-flat .page-link:hover {
    background-color: #373737;
    color: #fff;
}
.page-item.active .page-link{
	border-color: #1b1b1b;
}
#imgSlider{
	-webkit-transform: translateY(-58px);
	-moz-transform: translateY(-58px);
	-o-transform: translateY(-58px);
	transform: translateY(-58px);
}
#imgSlider img{
	height: 100vh;
    width: 100%;
    object-fit: cover;
}
.spcl-btn{
	background: transparent;
	border: 2px solid #fff;
}
.spcl-btn:hover{
	border: 2px solid transparent;
}
.slct-media{
	top: -10px;
	right: -18px;
}
.slct-media .uniform-checker span{
	background: #fff;
}
.left-border{
	border-left: 1px solid #ddd;
}
.media-lib-img .card-img-actions{
	height: 7rem;
    text-align: center;
    background: #eee;
}
.media-lib-img .card-img-top{
	width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
.step-column h5{
	color: #616161;
    font-weight: 500;
    font-size: 18px;
}
.step-column i{
	color: #0784bf;
    font-size: 26px;
}
.step-column p{
	color: #616161;
}
.step-column .step-number{
	/* height: 60px; */
    /* width: 60px; */
    border: 3px solid #616161;
    margin-bottom: 0;
    border-radius: 50%;
    font-size: 45px;
    text-align: center;
    color: #0784bf;
    font-weight: 700;
    margin-bottom: 30px;
    display: inline-block;
    padding: 0px 10px;
    z-index: 2;
    background: #fff;
    position: relative;
}
.step-column .step-number:before{
	content: "step";
    background: #0784bf;
    color: #fff;
    position: absolute;
    font-size: 16px;
    left: -35px;
    top: -13px;
    /* width: 40px; */
    border-radius: 50%;
    /* height: 29px; */
    padding: 10px 8px;
    border: 5px solid #fff;
}
.step-column .step-title{
    transform: translate(13px, 14px);
    font-size: 18px;
    background: #0784bf;
    color: #fff;
    padding: 8px 18px;
    border-radius: 0px 10px 10px 0px;
    position: relative;
    bottom: 10px;
    left: -5px;
    z-index: 1;
}
.nav-tabs-top .nav-link.active:before {
    background-color: #0784bf;
}
.footer-custom{
	background: #014b70;
	color: #fff;
}
.footer-custom .uniform-checker span{
	color: #fff;
}
.footer-custom ul{
	list-style: none;
	padding: 0;
}
.footer-custom ul li a{
	color: #35ace4;
}
.footer-custom input{
	background-color: #013a57;
    border: 1px solid #35ace4;
    border-right: 0;
    color: #fff;
}
.footer-custom .input-group-append .btn{
	border: 1px solid #35ace4;
}
.footer-custom .uniform-checker span{
    border: .125rem solid #ffffff;
}
/*------- Navbar Dropdown -------*/
.navbar-dropdown{
	border-radius: 10px;
}
.navbar-dropdown .search-from:hover{
	background: none;
}
.navbar-dropdown .form-control{
	background-color: #e9e9e9;
    border: 1px solid #e9e9e9;
    border-radius: 10px;
}
.detect-btn:hover, .detect-btn:focus{
	background: none;
}
.navbar-dropdown .dropdown-header{
	background-color: #e9e9e9;
}
.navbar-nav .dropdown-menu{
	border-radius: 10px;
	border: none;
	box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.49);
}
.navbar-light .navbar-nav-link{
	color: #616161;
	border-radius: 10px;
}
.navbar-light .navbar-nav-link:focus, .navbar-light .navbar-nav-link:hover {
    color: #fff;
    background-color: #0784bf;
}
.navbar-light .nav-item.dropdown .navbar-nav-link:focus, .navbar-light .nav-item.dropdown .navbar-nav-link:hover{
	color: #616161;
	background: transparent;
}
/*------- /Navbar Dropdown -------*/

.photo-gallery li .nav-link img{
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  	filter: grayscale(100%);
}
.photo-gallery li .nav-link.active img{
	-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  	filter: grayscale(0%);
}
.photo-gallery li .nav-link:hover img, .photo-gallery li .nav-link:focus img, .photo-gallery li .nav-link.active img{
	-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  	filter: grayscale(0%);
}
.photo-gallery .dropdown-toggle:before, .photo-gallery .dropdown-toggle:after ,.photo-gallery li .nav-link.active:before{
	display: none;
}
.photo-gallery .nav-tabs-top .nav-link:hover:before{
	background-color: transparent;
}
.photo-gallery .nav-tabs {
    border-bottom: 2px solid #0784bf;
}
.photo-gallery .nav-tabs-top .dropdown-menu{
	background: #0784bf;
	border-radius: 10px;
	border: 1px solid #0784bf;
}
.photo-gallery .dropdown-item{
	color: #fff;
}
.photo-gallery .dropdown-item:focus, .photo-gallery .dropdown-item:hover{
	color: #0784bf!important;
}
.color-blue{
	color: #0784bf!important;
}
.step-section img{
	width: 536px;
    height: 255px;
}
.w-60{
	width: 60%;
}
.w-70{
	width: 70%;
}
#moreField1,#moreField2,#moreField3,#moreField4,#moreField5{
	display: none;
}
.lgt-gry-bg{
	background-color: #e9e9e9;
}
.loc-dropdown{
	border-radius: 10px;
	border: none;
	box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.49);
}
.loc-dropdown input{    
	background-color: #e9e9e9;
    border: 1px solid #e9e9e9;
    border-radius: 10px;
}
.blue-button{
	background-color: #1686bd;
    color: #fff;
}
.blue-button:hover{
	background-color: #1f7098;
    color: #fff;
}
.profile-section{
	background-image: url('../../assets/images/1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-right: -20px;
	margin-left: -20px;
	border-top: 0!important;
}
.profile-section .nav-tabs-top{
	border-bottom: 0;
}
.profile-section .nav-tabs-top .nav-link{
	color: #fff;
    border-radius: 5px;
    width: 200px;
    margin: auto;
    background-color: #000000bf;
    margin-bottom: 20px;
}
.profile-section .nav-tabs-top .nav-link:hover:before{
	background-color: transparent;
}
.profile-section .nav-tabs-top .nav-link:hover{
	background-color: #1686bd;
}
.profile-section .nav-tabs-top .nav-link.active{
	background-color: #1686bd;
    color: #fff;
}
.profile-section .nav-tabs-top .nav-link.active:before{
	background-color: transparent;
}
.profile-section img.rounded-circle{
	border: 6px solid #ffffff54;
}
.profile-section .profile-details{
	background-color: #000000bf;
    border-radius: 5px;
    color: #fff;
    padding: 6px;
    border: 2px solid #545454;
    line-height: 1.4em;
}
.gry-color-lgt{
	background: #efefef;
}
.danger-btn{
	background-color: #c62828!important;
}
.profile-public{
	position: relative;
}
.profile-public img{
	/*background-image: url('../../assets/images/public-profile-cover.jpg'),
	linear-gradient(white, black);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;*/
	object-fit: cover;
	height: 350px;
	width: 100%;
}
.profile-public .bg-img-overlay{
	position: absolute;
	left: 0;
	right:0;
	top: 0;
	bottom: 0;
	background-image: linear-gradient(transparent, black);
}
.pro-img-border{
	border: 5px solid #fff;
	border-radius: 50%;
}
.radius-10{
	border-radius: 10px;
}
.link-color{
	color: #0784bf;
	font-weight: 500;
}
.blue-cover{
 	background: #0784bf;
}
.text-lgt-blue{
	color: #a5d2e8;
}
.text-dp-blue{
	color: #0784bf!important;
}
.profile-public-ctn{
	margin-top: -150px;
}
/*-------- The Modal (background) -----------*/
.modal-cust, #viewDetailsModal, #videoDetailsModal{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
}
/* Modal Content */
.modal-content-cust {
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  width: 80%;
  border-radius: 5px;
  position: relative;
}

/* The Close Button */
.close-cust, .close-view-details ,.close-video {
    color: #eae9e9;
    float: right;
    font-size: 21px;
    font-weight: bold;
    position: absolute;
    right: -20px;
    top: -20px;
    background: #303030;
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 50%;
    text-align: center;
}

.close-cust:hover, .close-cust:focus, .close-video:hover, .close-video:focus,
.close-view-details:hover, .close-view-details:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.viewDetailsContent{
	width: 40%;
}
.viewDetailsContent .text-content{
	max-height: 312px;
    overflow: auto;
}
/*-------- /The Modal (background) -----------*/
.custom-box-shadow{
	-webkit-box-shadow: 2px 1px 18px 0px rgba(0, 0, 0, 0.14);
	-moz-box-shadow: 2px 1px 18px 0px rgba(0, 0, 0, 0.14);
    box-shadow: 2px 1px 18px 0px rgba(0, 0, 0, 0.14);
    border: 0;
}
.font-size-25{
	font-size: 25px;
}
.link-btn{
	border:0;
	background: none;
	font-weight: 500;
	padding: 0;
	font-size: 14px;
}
.link-btn:hover{
	color: #0784bf;
}
.link-btn:focus{
	outline: 0;
}
.book-now-btn, .chat-now-btn{
	width: 49%;
}
.book-now-btn{
	margin-right: 2%;
}
.gradi-btn{
  	background-color: #1e6fe8; /* For browsers that do not support gradients */
    background-image: -webkit-linear-gradient(left, #1e6fe8, #a407fe);
    background-image: -o-linear-gradient(left, #1e6fe8, #a407fe);
    background-image: linear-gradient(to right, #1e6fe8, #a407fe); /* Standard syntax (must be last) */
    border: 0;
    padding: 8px 10px;
}
.gradi-btn:hover{
	background: #1e6fe8;
}
.tab-filter{
	background: #fff;
	color: #333;
	padding: 10px 20px;
	border-radius: 5px;
	margin-right: 10px;
	margin-bottom: 10px;
	border: 1px solid #ddd;
	transition: all .15s ease-in-out;
	display: inline-block;
}
.tab-filter:last-child{
	margin-right: 0px;
	margin-bottom: 0px;
}
.tab-filter:hover, .tab-filter.active{
	background: #1686bd;
	color: #fff;
	border: 1px solid #1686bd;
}
/*------- Media Query --------*/
@media(min-width: 1025px){
	.show-desktop{
		display: block!important;
	}
	.hide-desktop{
		display: none!important;
	}
}
@media(max-width: 1024px){
	.display-show{
		display: block!important;
	}
	.display-hide{
		display: none!important;
	}
}
@media(max-width: 991px){
	.left-border{
	border-left:none;
}
.top-border{
	border-top: 1px solid #ddd;
	}
}
@media (min-width: 768px){
.sidebar-xs .sidebar-main.sidebar-dark .nav-sidebar>.nav-item-submenu>.nav-group-sub {
    background-color: #1b1b1b;
    border-left: 1px solid rgba(255,255,255,.1);
}
}
@media (min-width: 768px){
.sidebar-xs .sidebar-main .nav-sidebar>.nav-item-submenu>.nav-group-sub[data-submenu-title]:before {
    padding-bottom: .75rem;
    border-bottom: 1px solid #676767;
	}
}
@media(max-width: 768px){
	.full-width-mob{
		width: 100%!important;
	}
	.viewDetailsContent{
	width: 80%;
	}
	.tab-dark-text{
		color: #333;
	}
}
@media(max-width: 767px){
	.sm-mob-mb{
		margin-bottom: 10px;
	}
	.step-section{
		width: 100%;
	}
	.mob-dark-text{
		color: #333;
	}
	.mob-text-center{
		text-align: center;
	}
}