.black-bg{
	background-color: #000;
}
.navbar-brand img{
	height: 1.5rem;
}
.grey-bg{
	background-color: #1b1b1b!important;
}
.sidebar-dark .nav-sidebar>.nav-item-open>.nav-link:not(.disabled), 
.sidebar-dark .nav-sidebar>.nav-item>.nav-link.active, 
.sidebar-light .card[class*=bg-]:not(.bg-light):not(.bg-white):not(.bg-transparent) .nav-sidebar>.nav-item-open>.nav-link:not(.disabled), 
.sidebar-light .card[class*=bg-]:not(.bg-light):not(.bg-white):not(.bg-transparent) .nav-sidebar>.nav-item>.nav-link.active{
	background-color: #373737!important;
}
.social-link{
	color: #fff!important;
}
.social-link:hover{
	color: rgba(255, 255, 255, 0.75)!important;
}
.btn{
	background-color: #1e6fe8;
}
.btn:hover{
	background-color: #a407fe;
}
.btn-light{
	background-color: #fafafa;
}
.btn-light:hover{
	background-color: #f5f5f5;
}
.uniform-checker span, .uniform-choice span{
	border: .125rem solid #1b1b1b;
}
.uniform-checker span{
	color: #1b1b1b;
}
.select2-selection--multiple .select2-selection__choice{
	background-color: #1b1b1b;
}
.select2-selection--multiple .select2-selection__choice:focus, .select2-selection--multiple .select2-selection__choice:hover{
	background-color: #373737;
}
.irs-bar{
	background-color: #373737;
}
.star-rate-on{
	color: #eab71e;
}
.star-rate-off{
	color: #868686;
}
.select2-results__option[aria-selected=true]{
	background-color: #1b1b1b;
}
.btn.bg-indigo:hover {
    background-color: #3f51b5;
}
.btn.bg-pink-300:hover{
	background-color: #f06292;
}
.btn.bg-slate-600:hover{
	background-color: #546e7a;
}
.pagination-flat .page-item.active .page-link {
    background-color: #1b1b1b;
}
.pagination-flat .page-link:focus, .pagination-flat .page-link:hover {
    background-color: #373737;
    color: #fff;
}
.page-item.active .page-link{
	border-color: #1b1b1b;
}
#imgSlider{
	-webkit-transform: translateY(-58px);
	-moz-transform: translateY(-58px);
	-o-transform: translateY(-58px);
	transform: translateY(-58px);
}
#imgSlider img{
	height: 100vh;
    width: 100%;
    object-fit: cover;
}
.spcl-btn{
	background: transparent;
	border: 2px solid #fff;
}
.spcl-btn:hover{
	border: 2px solid transparent;
}
.slct-media{
	top: -10px;
	right: -18px;
}
.slct-media .uniform-checker span{
	background: #fff;
}
.left-border{
	border-left: 1px solid #ddd;
}
.media-lib-img .card-img-actions{
	height: 7rem;
    text-align: center;
    background: #eee;
}
.media-lib-img .card-img-top{
	width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
.step-column h5{
	color: #616161;
    font-weight: 500;
    font-size: 18px;
}
.step-column i{
	color: #0784bf;
    font-size: 26px;
}
.step-column p{
	color: #616161;
}
.step-column .step-number{
	/* height: 60px; */
    /* width: 60px; */
    border: 3px solid #616161;
    margin-bottom: 0;
    border-radius: 50%;
    font-size: 45px;
    text-align: center;
    color: #0784bf;
    font-weight: 700;
    margin-bottom: 30px;
    display: inline-block;
    padding: 0px 10px;
    z-index: 2;
    background: #fff;
    position: relative;
}
.step-column .step-number:before{
	content: "step";
    background: #0784bf;
    color: #fff;
    position: absolute;
    font-size: 16px;
    left: -35px;
    top: -13px;
    /* width: 40px; */
    border-radius: 50%;
    /* height: 29px; */
    padding: 10px 8px;
    border: 5px solid #fff;
}
.step-column .step-title{
    transform: translate(13px, 14px);
    font-size: 18px;
    background: #0784bf;
    color: #fff;
    padding: 8px 18px;
    border-radius: 0px 10px 10px 0px;
    position: relative;
    bottom: 10px;
    left: -5px;
    z-index: 1;
}
.nav-tabs-top .nav-link.active:before {
    background-color: #0784bf;
}
.footer-custom h5{
	color: #fff;
}
.footer-custom{
	background: #323941;
	color: #c1c1c1;
	border: 0;
}
.footer-custom .uniform-checker span{
	color: #fff;
}
.footer-custom ul{
	list-style: none;
	padding: 0;
}
.footer-custom a{
	color: #56b2de;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.footer-custom a:hover{
	color: #56b2de;
	opacity: 0.7;
}
.footer-custom input{
	background-color: #41474e;
    border: 1px solid #8f949a;
    border-right: 0;
    color: #fff;
    font-size: .8125rem;
}
.footer-custom .input-group-append .btn{
	border: 1px solid #8f949a;
}
.footer-custom .subs-btn{
	background-color: #627586;
	font-size: .8125rem;
}
.footer-custom .uniform-checker span{
    border: 1px solid #c1c1c1;
}
.footer-custom .uniform-checker span:after{
	left:1px;
	top: 1px;
}
/*------- Navbar Dropdown -------*/
.navbar-dropdown{
	border-radius: 10px;
}
.navbar-dropdown .search-from:hover{
	background: none;
}
.navbar-dropdown .form-control{
	background-color: #e9e9e9;
    border: 1px solid #e9e9e9;
    border-radius: 10px;
}
.detect-btn:hover, .detect-btn:focus{
	background: none;
}
.navbar-dropdown .dropdown-header{
	background-color: #e9e9e9;
}
.navbar-nav .dropdown-menu{
	border-radius: 10px;
	border: none;
	box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.49);
}
.navbar-light .navbar-nav-link{
	color: #616161;
	border-radius: 10px;
}
.navbar-light .navbar-nav-link:focus, .navbar-light .navbar-nav-link:hover {
    color: #fff;
    background-color: #0784bf;
}
.navbar-light .nav-item.dropdown .navbar-nav-link:focus, .navbar-light .nav-item.dropdown .navbar-nav-link:hover{
	color: #616161;
	background: transparent;
}
/*------- /Navbar Dropdown -------*/

.photo-gallery li .nav-link img{
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  	filter: grayscale(100%);
}
.photo-gallery li .nav-link.active img{
	-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  	filter: grayscale(0%);
}
.photo-gallery li .nav-link:hover img, .photo-gallery li .nav-link:focus img, .photo-gallery li .nav-link.active img{
	-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  	filter: grayscale(0%);
}
.photo-gallery .dropdown-toggle:before, .photo-gallery .dropdown-toggle:after ,.photo-gallery li .nav-link.active:before{
	display: none;
}
.photo-gallery .nav-tabs-top .nav-link:hover:before{
	background-color: transparent;
}
.photo-gallery .nav-tabs {
    border-bottom: 2px solid #0784bf;
}
.photo-gallery .nav-tabs-top .dropdown-menu{
	background: #0784bf;
	border-radius: 10px;
	border: 1px solid #0784bf;
}
.photo-gallery .dropdown-item{
	color: #fff;
}
.photo-gallery .dropdown-item:focus, .photo-gallery .dropdown-item:hover{
	color: #0784bf!important;
}
.color-blue{
	color: #0784bf!important;
}
.step-section img{
	width: 536px;
    height: 255px;
}
.w-60{
	width: 60%;
}
.w-70{
	width: 70%;
}
.w-80{
	width: 80%;
}
.w-90{
	width: 90%;
}
#moreField1,#moreField2,#moreField3,#moreField4,#moreField5{
	display: none;
}
.lgt-gry-bg{
	background-color: #e9e9e9;
}
.loc-dropdown{
	border-radius: 10px;
	border: none;
	box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.49);
}
.loc-dropdown input{    
	background-color: #e9e9e9;
    border: 1px solid #e9e9e9;
    border-radius: 10px;
}
.blue-button{
	background-color: #1686bd;
    color: #fff;
}
.blue-button:hover{
	background-color: #1f7098;
    color: #fff;
}
.profile-section{
	background-image: url('../../assets/images/1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-right: -20px;
	margin-left: -20px;
	border-top: 0!important;
}
.profile-section .nav-tabs-top{
	border-bottom: 0;
}
.profile-section .nav-tabs-top .nav-link{
	color: #fff;
    border-radius: 5px;
    width: 200px;
    margin: auto;
    background-color: #000000bf;
    margin-bottom: 20px;
}
.profile-section .nav-tabs-top .nav-link:hover:before{
	background-color: transparent;
}
.profile-section .nav-tabs-top .nav-link:hover{
	background-color: #1686bd;
}
.profile-section .nav-tabs-top .nav-link.active{
	background-color: #1686bd;
    color: #fff;
}
.profile-section .nav-tabs-top .nav-link.active:before{
	background-color: transparent;
}
.profile-section img.rounded-circle{
	border: 6px solid #ffffff54;
}
.profile-section .profile-details{
	background-color: #000000bf;
    border-radius: 5px;
    color: #fff;
    padding: 6px;
    border: 2px solid #545454;
    line-height: 1.4em;
}
.gry-color-lgt{
	background: #efefef;
}
.danger-btn{
	background-color: #c62828!important;
}
.profile-public{
	position: relative;
}
.profile-public img{
	/*background-image: url('../../assets/images/public-profile-cover.jpg'),
	linear-gradient(white, black);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;*/
	object-fit: cover;
	height: 350px;
	width: 100%;
}
.profile-public .bg-img-overlay{
	position: absolute;
	left: 0;
	right:0;
	top: 0;
	bottom: 0;
	background-color: #00000066;
	background-image: linear-gradient(transparent, #000);
}
.pro-img-border{
	border: 5px solid #fff;
	border-radius: 50%;
}
.radius-10{
	border-radius: 10px;
}
.link-color{
	color: #0784bf;
	font-weight: 500;
}
.blue-cover{
 	background: #0784bf;
}
.text-lgt-blue{
	color: #a5d2e8;
}
.text-dp-blue{
	color: #0784bf!important;
}
.profile-public-ctn{
	margin-top: -150px;
}
/*-------- The Modal (background) -----------*/
.modal-cust, #viewDetailsModal, #videoDetailsModal, #bookNowModal{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
}
/* Modal Content */
.modal-content-cust {
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  width: 80%;
  border-radius: 5px;
  position: relative;
}

/* The Close Button */
.close-cust, .close-view-details ,.close-video, .close-book-now {
    color: #eae9e9;
    float: right;
    font-size: 21px;
    font-weight: bold;
    position: absolute;
    right: -20px;
    top: -20px;
    background: #303030;
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 50%;
    text-align: center;
}

.close-cust:hover, .close-cust:focus, .close-video:hover, .close-video:focus,
.close-view-details:hover, .close-view-details:focus, .close-book-now:hover, 
.close-book-now:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.viewDetailsContent, .book-now-Content{
	width: 40%;
}
.viewDetailsContent .text-content, .book-now-Content .text-content{
	max-height: 312px;
    overflow: auto;
}
/*-------- /The Modal (background) -----------*/
.custom-box-shadow{
	-webkit-box-shadow: 2px 1px 18px 0px rgba(0, 0, 0, 0.14);
	-moz-box-shadow: 2px 1px 18px 0px rgba(0, 0, 0, 0.14);
    box-shadow: 2px 1px 18px 0px rgba(0, 0, 0, 0.14);
    border: 0;
}
.font-size-25{
	font-size: 25px;
}
.link-btn{
	border:0;
	background: none;
	font-weight: 500;
	padding: 0;
	font-size: 14px;
}
.link-btn:hover{
	color: #0784bf;
}
.link-btn:focus{
	outline: 0;
}
.book-now-btn, .chat-now-btn{
	width: 49%;
}
.book-now-btn{
	margin-right: 2%;
}
.gradi-btn{
  	background-color: #1e6fe8; /* For browsers that do not support gradients */
    background-image: -webkit-linear-gradient(left, #1e6fe8, #a407fe);
    background-image: -o-linear-gradient(left, #1e6fe8, #a407fe);
    background-image: linear-gradient(to right, #1e6fe8, #a407fe); /* Standard syntax (must be last) */
    border: 0;
    padding: 8px 10px;
}
.gradi-btn:hover{
	background: #1e6fe8;
}
.tab-filter{
	background: #fff;
	color: #333;
	padding: 10px 20px;
	border-radius: 5px;
	margin-right: 10px;
	margin-bottom: 10px;
	border: 1px solid #ddd;
	transition: all .15s ease-in-out;
	display: inline-block;
}
.tab-filter:last-child{
	margin-right: 0px;
	margin-bottom: 0px;
}
.tab-filter:hover, .tab-filter.active{
	background: #1686bd;
	color: #fff;
	border: 1px solid #1686bd;
}
.chat-body{
	margin: 6px 0;
	width: 500px;
	max-width: 100%;
    max-height: 350px;
    overflow: auto;
}
.chat-body .media-chat{
	max-height: 140px;
}
/*------- compare slider --------*/
/*.section {
  position: relative;
  width: 800px; 
}*/

/* Styling for ba-slider element */
.ba-slider {
  position: relative;
  overflow: hidden;
}
.ba-slider .text {
  display: block;
  position: absolute;
  z-index: 99;
  left: 25px;
  bottom: 20px;
  border-left: 5px solid #00abe3;
  padding: 5px 0 7px 15px;
  font-family: "Oswald", sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff;
}
.ba-slider img {
  width: 100%;
  display: block;
  max-width: none;
}
.ba-slider .resize {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  overflow: hidden;
}
.ba-slider .handle {
  /* Thin line seperator */
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 3px;
  margin-left: -1px;
  background: #fff;
  cursor: ew-resize;
}

.ba-slider .handle:after {
  /* Big orange knob  */
    position: absolute;
    top: 50%;
    width: 60px;
    height: 60px;
    margin: -32px 0 0 -30px;
    content: "\21d4";
    color: #000;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    line-height: 60px;
    background: #fff;
    border: 1px solid #d6d6d6;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
  z-index: 2;
}

.ba-slider .handle.ba-draggable:after {
  width: 48px;
  height: 48px;
  margin: -24px 0 0 -24px;
  line-height: 50px;
  font-size: 30px;
}
/*------- compare slider --------*/
.div16by9-wrapper{
  position: relative;
  padding-bottom: 56.2%;
}
.div16by9-wrapper img{
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.bord-radius-tp-5{
	border-radius: 5px 5px 0px 0px;
}
.bord-white-2{
	border: 2px solid #fff;
}
.font-25{
	font-size: 25px;
}
.font-18{
	font-size: 18px;
}
.font-16{
	font-size: 16px;
}
.font-40{
	font-size: 40px;
}
.blk-lgt-color{
	color: #4b4b4b;
}
.tag-list{
	display: table;
}
.tag-list li{
	margin-right: 10px!important;
    margin-bottom: 15px;
}
.tag-list li a{
	background-color: #c0d4de;
	color: #000;
	padding: 5px 15px;
	border-radius: 2px;
	text-align: center;
	font-size: 12px;
}
.extra-lgt-gry-bg{
	background-color: #f0f0f0;
}
.deep-slate-color{
	color: #323941;
}
.price-rate-btn button{
	width: 48%;
	margin-right: 2%;
}
.price-rate-btn button:last-child{
	margin-right: 0;
}
.price-dtls{
	line-height: 1.1em;
}
.img-gry-border{
	border: 4px solid #d6d6d6;
}
/*----- Filter sidebar ------*/
.filter-sidebar .main-heading{
	background: #627586;
}
.filter-sidebar .filter-body{
	background: #f0f0f0;
	border-radius: 0px 0px 5px 5px;
}
.filter-sidebar .filter-body *{
	color: #323941;
}
.filter-sidebar .filter-body .uniform-checker span, .uniform-choice span{
    border: 1px solid #323941;
}
.filter-sidebar .filter-body .uniform-choice span:after{
	top: 4px;
	left: 4px;
}
.filter-sidebar .filter-body label{
	font-size: 14px;
}
.filter-sidebar .filter-body label strong{
	font-weight: 500;
}
.filter-sidebar .filter-body .irs-max, .filter-sidebar .filter-body .irs-min{
	background-color: #fff;
    border-radius: 0;
    border: 1px solid #cacbcd;
}
.filter-sidebar .filter-body .irs-handle{
	background-color: #323941;
    border: 1px solid #323941;
}
.filter-sidebar .filter-body .irs-handle:after{
	background-color: #fff;
}
.filter-sidebar .filter-body .irs-line{
	background-color: #cacbcd;
	border-radius: 0;
}
.filter-sidebar .filter-body .irs-from, .filter-sidebar .filter-body .irs-single, 
.filter-sidebar .filter-body .irs-to{
	color: #fff;
	background-color: #323941;
    border-radius: 0;
}
.filter-sidebar .filter-body .irs-from:after, .filter-sidebar .filter-body .irs-single:after, 
.filter-sidebar .filter-body .irs-to:after{
	border-top-color: #323941;
}
.filter-sidebar .filter-body .select2-selection--multiple,
.filter-sidebar .filter-body input{
	border: 1px solid #cacbcd;
    border-radius: 0;
}
.filter-sidebar .filter-body .irs-bar {
    background-color: #50565d;
}
.filter-sidebar .filter-body .select2-selection--multiple .select2-selection__choice {
    background-color: #50565d;
    color: #fff;
    border-radius: 0;
}
.filter-sidebar .filter-body .select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove{
   color: #fff;
}
.filter-sidebar .filter-body .btn{
	background-color: #323941;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.filter-sidebar .filter-body .btn:hover{
	background-color: #50565d;
}
.filter-icon{
	position: relative;
	top: 2px;
}
/*----- /Filter sidebar ------*/
.full-radius5{
	border-radius: 5px!important;
}
.xsml-mb{
	margin-bottom: 5px;
}
/*------- Masonry Gallery --------*/
.masonry { 
/* Masonry container */
  	column-count: 3;
  	column-gap: 1em;
}

.item { /* Masonry bricks or child elements */
	background-color: #eee;
	display: inline-block;
	margin: 0 0 1em;
	width: 100%;
	position: relative;
}
.masonry .item .img-overlay, .manage-img-wrapper .img-overlay{
	opacity: 0;
	position: absolute;
	left: 0;
	right:0;
	top: 0;
	bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    flex-direction: column;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    padding: 10px;
    overflow: hidden;
}
.manage-img-wrapper .img-overlay{
	z-index: 1;
}
.masonry .item .img-overlay p{
	font-size: 14px;
}
.masonry .item .img-overlay .share-btn, .masonry .item .img-overlay .zoom-btn, 
.manage-img-wrapper .img-overlay .share-btn, .manage-img-wrapper .img-overlay .edit-btn{
	display: inline-block;
	/*border: 1px solid #999899;
	background: #3c3b3c;*/
	color: #fff;
	/*padding: 10px;
	border-radius: 50%;*/
}
.manage-img-wrapper .img-overlay .share-btn, .manage-img-wrapper .img-overlay .edit-btn{
	border: 1px solid #fff;
    border-radius: 50%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.3);
}
.masonry .item .img-overlay i, .manage-img-wrapper .img-overlay i{
	font-size: 20px;
    /*position: relative;
    right: 1px;
    top: 1px;*/
}
.masonry .item:hover .img-overlay, .manage-img-wrapper:hover .img-overlay{
	opacity: 1;
}
.cover-bg-div .bg-image{
	object-fit: cover;
	height: 450px;
	width: 100%;
}
.cover-bg-div .bg-img-overlay{
	position: absolute;
	left: 0;
	right:0;
	top: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.75);
}
.cover-bg-div .text-ctn{
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.cover-bg-div .text-ctn .text-ctn-details{
	display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    flex-direction: column;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0
}
.cover-bg-div .text-ctn .title{
	font-size: 45px;
	line-height: 0.9em;
	font-family: 'Cookie', cursive;
	text-shadow: 2px 2px 9px #0000005c;
    letter-spacing: 1px;
}
.cover-bg-div .text-ctn .tagline{
	font-size: 14px;
}
.cover-bg-div .text-ctn .date{
	font-size: 25px;
}
.cover-bg-div .text-ctn .date:before, .title-before:before{
	content: "";
    position: absolute;
    background-image: linear-gradient(to right, #008fd200 , #008fd2)!important;
    width: 100px;
    height: 5px;
    -webkit-transform: translateY(1rem);
	-moz-transform: translateY(1rem);
	transform: translateY(1rem);
    border-radius: 5px;
    margin-left: -120px;
}
.cover-bg-div .text-ctn .date:after, .title-after:after{
	content: "";
    position: absolute;
    background-image: linear-gradient(to right, #008fd2 , #008fd200)!important;
    width: 100px;
    height: 5px;
    -webkit-transform: translateY(1rem);
	-moz-transform: translateY(1rem);
	transform: translateY(1rem);
    border-radius: 5px;
    margin-left: 20px;
}
.title-before:before, .title-after:after{
	-webkit-transform: translateY(0.9rem);
	-moz-transform: translateY(0.9rem);
	transform: translateY(0.9rem);
}
.cover-bg-div .social-media .logo{
	width: 20%;
}
.cover-bg-div .text-ctn .social-media{
	position: relative;
	z-index: 1;
}
.cover-bg-div .sign-text{
	position: absolute;
    bottom: 0;
    right: 0;
}
.cover-bg-div .sign-text a{
	color: #68c8f9;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.cover-bg-div .sign-text a:hover{
	opacity: .7;
}
.cover-bg-div .social-media .icon-cloud-download{
	font-size: 19px;
}
.fancybox-nav span {
    visibility: visible;
    opacity: 1;
}
.divider-bg-div .bg-img-overlay{
	position: absolute;
	left: 0;
	right:0;
	top: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.75);
}
/*------ /Masonry Gallery ---------*/
.mng-album-divider{
	background: #a3a3a3;
    height: 1px;
    width: 15%;
    margin: auto;
    margin-bottom: 0;
    margin-top: 5px;
}
.album-footer{
	background: #008fd2;
}
.album-footer .text-details{
	margin-top: -120px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
}
.album-footer .title{
	line-height: 1em;
}
.mb-100{
	margin-bottom: 100px;
}
.cross-media{
	background: #000;
    border-radius: 50%;
    top: -11px;
    right: -10px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.cross-media a{
	color: #ffffff;
    padding: 1px;
    line-height: 21px;
}
.cross-media a .icon-cross3{
	font-size: 19px;
}
.cross-media:hover{
	opacity: 0.9;
}
.cust-divider{
	margin-top: 20px;
	margin-bottom: 40px;
}
.card-group-control .card-title>a.collapsed:before{
	content: "\e9c5";
}
.card-group-control-right .card-title>a:before{
	content: "\e9c6";
}
.ui-sortable-handle:hover{
	cursor: move;
}
.sidebar-link-div .filter-body *{
	color: #7b7b7b;
    font-weight: 500;
}
.sidebar-link-div .filter-body a{
    padding: 10px 16px;
}
.sidebar-link-div .filter-body a:hover, .sidebar-link-div .filter-body a:hover i{
	color: #627586;
	background: none;
}
.sidebar-link-div .filter-body a.active{
	background: #0784bf;
	color: #fff;
	border-radius: 5px;
}
.sidebar-link-div .filter-body a.active i{
	color: #fff;
}
.sidebar-link-div .filter-body a:focus{
	background: none;
}
.cookie-font{
	font-family: 'Cookie', cursive;
}
.title-font35{
	font-size: 35px;
}
.title-font35:before, .title-font35:after{
	-webkit-transform: translateY(1.4rem);
	-moz-transform: translateY(1.4rem);
	transform: translateY(1.4rem);
}
.subs-img {
	height: 350px!important;
}
.external-bullet{
	list-style: none;
	padding: 0;
	margin-bottom: 0;
}
.external-bullet li{
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	margin-bottom: 10px;
}
.external-bullet li:last-child{
	margin-bottom: 0;
}
.external-bullet li::before{
	content: "\e853";
	font-family: "Icomoon";
	color: #4b4b4b;
	display: inline-block; 
	width: 1em;
	font-size: 17px;
	margin-right: 13px;
}
#datepicker .ui-datepicker-inline{
	padding: 0;
	min-width: 100%;
}
.suc-msg{
	padding: .4375rem .875rem;
    border: 1px solid #88cc8a;
    border-radius: .1875rem;
    background: #e3fbe4;
}
.error-msg{
	padding: .4375rem .875rem;
    border: 1px solid #f57a71;
    border-radius: .1875rem;
    background: #ffedeb;
}
/*------- Highlighted calendar---------*/
#datepicker .Highlighted a{
   background-color : #4caf50 !important;
   background-image :none !important;
   color: #fff !important;
}
#datepicker .ui-datepicker .ui-datepicker-calendar td.ui-datepicker-current-day .ui-state-active {
    color: #333;
    background-color: transparent;
}
#datepicker .ui-datepicker .ui-datepicker-calendar td.ui-datepicker-current-day .ui-state-active:hover{
	background-color: #f5f5f5;
}
#datepicker .Highlighted:hover{
	position: relative;
}
#datepicker .Highlighted[title]:hover:after {
	content: attr(title);
	position: absolute;
	left: 0;
	top: 100%;
	white-space: nowrap;
	z-index: 1;
	padding: .5rem .75rem;
 	color: #fff;
	text-align: center;
	background-color: #000;
	border-radius: .1875rem;
}
.qtip-titlebar .qtip-close{
	right: -8px!important;
    top: 0px!important;
    border: 0;
}
.highlight a{
	background: #4caf50;
}
.fc-event-inner{
	visibility: hidden; 
}
/*------- Highlighted calendar---------*/
/*------- fullcalendar css---------*/
#fullcalendar .fc-event{
	font-size: 12px;
    cursor: pointer;
    white-space: nowrap;
    margin-top: 0;
}
#fullcalendar .fc-header{
	border: none;
	background: #1b1b1b;
	color: #fff;
}
#fullcalendar .fc-header-title h2{
	font-size: 18px;
    line-height: 2.5em;
	margin-bottom: 0;
}
#fullcalendar .fc-header td{
	vertical-align: middle;
    text-align: center;
}
#fullcalendar .fc-state-default.fc-corner-right, #fullcalendar .fc-state-default.fc-corner-left{
	margin-bottom: 0;
}
#fullcalendar .fc-event{
	border: 1px solid #1e6fe8;
    background-color: #1e6fe8;
}
#qtip-fullcalendar-content p{
	margin-bottom: 0;
}
.qtip-default .qtip-icon {
    background: #000000!important;
    color: #fff!important;
}
.qtip-titlebar{
	position: static!important;
    padding: 0!important;
}
#fullcalendar .fc-header-right .fc-corner-left{
	margin-right: 5px;
}
#fullcalendar .fc-header td{
	border: 0;
}
/*.qtip-dark .qtip-titlebar {
	background-color: transparent!important;
    float: right!important;
}
.qtip-icon .ui-icon{
	background: #000!important;
    color: #fff!important;
}*/
/*------- /fullcalendar css---------*/
.contc-details input, .contc-details textarea{
	background-color: #f3f3f5;
	color: #4b4b4b;
	border: 0;
}
.map-details{
	height: 250px;
}
.map-details iframe{
	width: 100%;
}
.cust-line-ht{
	line-height: 1.2em;
}
.blue-text{
	color: #008fd2;
}
.font-bold{
	font-weight: 700;
}
.font-light{
	font-weight: 300;
}
.blue-bg-color{
	background: #008fd2!important;
	color: #fff;
}
.overlap-text .text-details {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 20px;
    z-index: 1;
}
.clear-both{
	clear: both;
}
.overlay-img-text{
	visibility: visible;
	opacity: 1;
	background-color: rgba(0, 0, 0, 0.59);
}
.whatsapp-btn{
	background: #00a859!important;
}
/*------- Media Query --------*/
@media(min-width: 1025px){
	.show-desktop{
		display: block!important;
	}
	.hide-desktop{
		display: none!important;
	}
}
@media(max-width: 1024px){
	.display-show{
		display: block!important;
	}
	.display-hide{
		display: none!important;
	}
	.sm-desktop-mb-10{
		margin-bottom: 10px;
	}
}
@media(min-width: 992px){
	.border-rt1{
		border-right: 1px solid #777
	}
	/*.desk-view{
		display: block;
	}*/
	.mob-view{
		display: none;
	}
}
@media(max-width: 991px){
	.left-border{
	border-left:none;
	}
	.top-border{
	border-top: 1px solid #ddd;
	}
	.border-rt1{
		border-right: 0;
	}
	.tab-mt20{
		margin-top: 20px;
	}
	.tab-mb-10{
		margin-bottom: 10px;
	}
	.contc-details{
		margin-top: 30px;
	}
	.sm-view-mt{
		margin-top: 30px;
	}
	.desk-view{
		display: none;
	}
	.mob-view{
		display: block;
	}
}
@media (min-width: 768px){
.sidebar-xs .sidebar-main.sidebar-dark .nav-sidebar>.nav-item-submenu>.nav-group-sub {
    background-color: #1b1b1b;
    border-left: 1px solid rgba(255,255,255,.1);
	}
}
@media (min-width: 768px){
.sidebar-xs .sidebar-main .nav-sidebar>.nav-item-submenu>.nav-group-sub[data-submenu-title]:before {
    padding-bottom: .75rem;
    border-bottom: 1px solid #676767;
	}
}
@media(max-width: 768px){
	.full-width-mob{
		width: 100%!important;
	}
	.viewDetailsContent, .book-now-Content{
	width: 80%;
	}
	.tab-dark-text{
		color: #333;
	}
	.masonry { 
	/* Masonry container */
	  column-count: 2;
	}
	.cover-bg-div .social-media .logo{
		width: 30%;
	}
	.tab-width-80{
		width: 80%;
	}
}
@media(max-width: 767px){
	.sm-mob-mb{
		margin-bottom: 10px;
	}
	.step-section{
		width: 100%;
	}
	.mob-dark-text{
		color: #333;
	}
	.mob-text-center{
		text-align: center;
	}
	.mob-w-100{
		width: 100%;
	}
	.masonry { 
	/* Masonry container */
	  	column-count: 1;
	}
	.cover-bg-div .text-ctn .date:before,.title-before:before{
		width: 70px;
		margin-left: -80px;
		display: none;
	}
	.cover-bg-div .text-ctn .date:after, .title-after:after{
		width: 70px;
		margin-left: 10px;
		display: none;
	}
	.cover-bg-div .social-media .logo{
		width: 50%;
	}
	.prev-draft-publish-div{
		padding: 0 1.25rem;
	}
	.prev-draft-publish-div button{
		margin-bottom: 10px;
	}
	.mob-mt-30{
		margin-top: 30px;
	}
}
@media(max-width: 375px){
	.price-rate-btn button, .book-now-btn, .chat-now-btn{
		width: 100%;
		margin-right: 0;
	}
	.price-rate-btn .v-details-btn{
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.book-now-btn{
		margin-bottom: 10px;
	}
}
@media (max-width: 320px){
	.whatsapp-btn{
		margin-bottom: 10px;
	}
	.x-sm-ml-0{
		margin-left: 0!important;
	}
}